#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #edit-text {
  background-image: url(../icons/font-text.svg);
}

#main-toolbar #paragraph {
  background-image: url(../icons/paragraph-bar.svg);
}

#textarea {
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.palette-button {
  width: 47px;
  height: 47px;
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  border-radius: 5.5px;
  margin: 4px;
}

.palette-button-notselected {
  background-color: transparent;
}

.palette-button-selected {
  background-color: #9c9a9c;
}